.header-box {
    -fx-padding: 10 20 10 20;
    -fx-background-color: #b31b1b;
    -fx-alignment: center-left;
}

.cornell-label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.article-card {
    -fx-padding: 12; /* чуть меньше */
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 4, 0, 0, 2);
    -fx-wrap-text: true;
}


.article-card:hover {
    -fx-background-color: #fafafa;
    -fx-border-color: #cccccc;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 3);
}

.article-title {
    -fx-font-size: 17px;
    -fx-text-fill: #1a1a1a;
}

.article-authors {
    -fx-font-size: 13px;
    -fx-text-fill: #666;
    -fx-font-style: italic;
}

.article-link {
    -fx-font-size: 13px;
    -fx-text-fill: #b31b1b;
}

.author-link {
    -fx-text-fill: rgb(0, 119, 255);
    -fx-font-size: 13px;
}

.author-link:hover {
    -fx-underline: true;
}

.article-window-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.article-content {
    -fx-font-size: 14px;
    -fx-text-fill: #444;
}

.article-scroll {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.article-scroll .viewport {
    -fx-background-color: transparent;
}

.article-scroll .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.article-scroll .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(179, 27, 27, 0.42);
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

.text-field {
    -fx-padding: 8 10;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #ccc;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #888;
    -fx-background-insets: 0;
}

.text-field:focused {
    -fx-border-color: #b31b1b;
    -fx-border-width: 1.5;
}


